<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal" align-title="center">
        <h1 class="title">Archived Shows</h1>
        <button class="button button-positive" ng-click="SCtrl.hideArchivedShows()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
          <div class="item item-thumbnail-left"
            collection-repeat="show in SCtrl.archivedShows"
            on-hold="SCtrl.getShowDetails(show)">
            <img ng-src="{{ show.picture }}">
            <div class="row">
                <span>{{ show.title }}</span>
               <div class="col text-right">
                <button class="button button-small icon-right ion-minus button-positive" ng-click="SCtrl.unarchiveShow(show.id)">Unarchive</button>
                </div>
            </div>
        </div>
      </div>
    </ion-content>
</ion-modal-view>