<ion-view view-title="My TV shows !">
     <ion-nav-buttons side="left">
        <button class="button button-positive icon-left ion-archive" ng-click="SCtrl.showArchivedShows()">Archived Shows</button>
    </ion-nav-buttons>
     <ion-nav-buttons side="right">
        <button class="button button-positive icon-right ion-plus" ng-click="SCtrl.searchShow()"></button>
    </ion-nav-buttons>
  <ion-content>
  <ion-refresher
    pulling-text="Refresh..."
    on-refresh="SCtrl.getMyCurrentShows()">
  </ion-refresher>
  <div class="list">
      <div class="item item-thumbnail-left"
        collection-repeat="show in SCtrl.myShows | orderBy: '+title'"
        on-hold="SCtrl.getShowDetails(show)"
        ng-click="SCtrl.showEpisodes(show)">
        <img ng-src="{{ show.picture }}">
        <h2>{{ show.title }}</h2>
    </div>
  </div>
  </ion-content>
</ion-view>
