<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-royal" align-title="center">
        <h1 class="title">{{ SCtrl.showToDetail.title }}</h1>
        <button class="button button-positive" ng-click="SCtrl.hideDetails()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
    <ion-scroll direction="y">
        <div class="item item-body">
            <img ng-src="{{ SCtrl.showToDetail.images.show }}" style="width:100%;">
            <span class="input-label">Description</span>
            <p>
                {{ SCtrl.showToDetail.description }}
            </p>
            <p>
                <span class="input-label">Genres</span>
                <span collection-repeat="genre in SCtrl.showToDetail.genres" item-height="20px" item-width="80px">{{ genre }}</span>
            </p>
            <p>
                <span class="input-label">Saisons</span>
                {{ SCtrl.showToDetail.seasons }}
            </p>
            <p>
                <span class="input-label">Épisodes</span>
                {{ SCtrl.showToDetail.episodes }}
            </p>
            <p>
                <span class="input-label">Durée</span>
                {{ SCtrl.showToDetail.length }} min.
            </p>
            <p>
                <span class="input-label">Note</span>
                {{ SCtrl.showToDetail.notes.mean | number: 2}} / 5
            </p>
            <center>
                <button ng-if="SCtrl.showToDetail.user.remaining !== 0 && SCtrl.showToDetail.user.archived === false" class="button button-assertive" ng-click="SCtrl.deleteShow(SCtrl.showToDetail.id)">Delete</button>
                <button ng-if="SCtrl.showToDetail.user.remaining !== 0 && SCtrl.showToDetail.user.archived === false" class="button icon-left ion-ios-archive button-positive" ng-click="SCtrl.archiveShow(SCtrl.showToDetail.id)">Archiver</button>
                <button ng-if="SCtrl.showToDetail.user.archived === true" class="button icon-left ion-ios-archive button-positive" ng-click="SCtrl.unarchiveShow(SCtrl.showToDetail.id)">Unarchive</button>
                <button ng-if="SCtrl.showToDetail.user.remaining === 0" class="button icon-left ion-plus button-positive" ng-click="SCtrl.addShow(SCtrl.showToDetail.id)">Add</button>
            </center>
        </div>
    </ion-scroll>
    </ion-content>
</ion-modal-view>